.reset-header {
    display: flex;
    background-color: #fff;
    height: 70px;
    padding: 0 30px;
}
.reset-header .reset-header-brand {
    text-decoration: none;
    display: flex;
    align-items: center;
}
.reset-header .brand-icon {
    color: #f43f5e;
    height: 34px;
    width: 34px;
    margin-right: 3px;
}
.reset-header .reset-header-brand .brand-name {
    font-size: 20px;
    font-weight: 500;
    color: #1f2937;
}
.reset-header-nav {
    display: flex;
    align-items: center;
}
.form-container {
    width: 500px;
    background-color: #fff;
    border-radius: 0.865rem;
    padding: 30px;
    margin: 2rem 0;
    /* box-shadow: 0 .1rem 1rem .25rem rgba(0,0,0,.05); */
}
